<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mohit.scoringapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Scoring App"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginActivity"
            android:label="Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ScorerHomeActivity"
            android:label="My Fixtures"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity
            android:name=".AdvancedScoringActivity"
            android:label="Scoring App"></activity>
        <activity android:name=".ScorecardActivity" />
        <activity
            android:name=".FixtureHomeActivity"
            android:label="@string/title_activity_fixture_home"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".BasicScoringActivity"></activity>
    </application>

</manifest>
